{% extends 'base.html.twig' %}

{% block title %}Hydrologie{% endblock %}

{% block body %}
<div class="container" id="main">
    <section>
        <h1 class="text-center"><i class="fas fa-water"></i> Etude pluviométrique</h1> 
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
            <div class="d-flex align-items-center col-md-6 mb-2 ml-2 mb-md-0 text-info text-decoration-none font-weight-bold">
                <i class="fa-solid fa-info-circle"></i> &nbsp; Renseigner vos données pluviométiques
            </div>
            <div class="nav col-md-auto mb-2 justify-content-center mb-md-0">
                <a href="#" id="addInputs" class="btn btn-success" type="button"><i class="fa-solid fa-plus"></i></a> &nbsp;
                <a href="#" id="deleteInputs" class="btn btn-danger" type="button"><i class="fa-solid fa-trash-can"></i></a>
            </div>
        </div>
        <form id="calculer" method="post" action="" >
            <div id="divReadonly" class="text-center">
                <label class="" for="readonly">Prévisualisation d'une donnée saisie</label>
                <input type="text" class="w-100 text-center rounded" id="readonly" value="" readonly>
            </div>
            <input id="counter" type="hidden" name="" data-counter="0">
            <table class="table-striped text-center">
                <caption class="text-secondary text-center small">Tableau 1 : Données pluviométriques mensuelle en [mm]</caption>
                <thead>
                    <tr>
                        <th>Jan</th>
                        <th>Feb</th>
                        <th>Mars</th>
                        <th>April</th>
                        <th>May</th>
                        <th>June</th>
                        <th>July</th>
                        <th>Aug</th>
                        <th>Sep</th>
                        <th>Oct</th>
                        <th>Nov</th>
                        <th>Dec</th>
                    </tr>
                </thead>
                <tbody id="dataPluvio"></tbody>
            </table>
            <div>  
                <input type="submit" value="Calculer" class="btn btn-primary form-control"/>
            </div>
        </form>
    </section>
    <hr>
    <div class="container d-none" id="result">
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary">Exporter en PDF</button>
        </div>
        <section id="pluvioMoyenneMensuelle">
            <h3 class="h5">1. Calcul de la pluviométrie moyenne mensuelle</h3>
            <p>
                A partir du tableau 1 ci-dessus en usant de la formule ci-après, on peut calculer la pluviométrie moyenne mensuelle :
                <div class="text-center">
                    <img src="assets/img/formule/PMmenuelle.png" alt="Pluviométrie moyenne mensuelle" width="150">
                </div>
                <div class="small">
                    <ul>
                        <li><img src="assets/img/symbole/PMBar.png" alt="𝑃𝑚" height="20" width="20"> est la pluviométrie moyenne mensuelle en [mm] ;</li>
                        <li>𝑃𝑚𝑖 est la pluviométrie mensuelle du mois concerné en mm, ou 𝑖 représente les
                            années d’observation ;</li>
                        <li>𝑁 est le nombre d’année d’observation</li>
                    </ul>
                </div>
            </p>
            <p>
                <div class="mb-2">
                    On obtient la <strong>pluviométrie moyenne mensuelle</strong> representé par le tableau suivant :
                </div>
                <table class="table-dark small">
                    <caption class="text-center text-info" align="top">Tableau 2 : Pluviométrie moyenne mensuelle en [mm]</caption>
                    <thead class="text-primary">
                        <tr class="text-center">
                            <th>Jan</th>
                            <th>Feb</th>
                            <th>Mars</th>
                            <th>April</th>
                            <th>May</th>
                            <th>June</th>
                            <th>July</th>
                            <th>Aug</th>
                            <th>Sep</th>
                            <th>Oct</th>
                            <th>Nov</th>
                            <th>Dec</th>
                        </tr>
                    </thead>
                    <tbody id="pluviomoyennemensuelle"></tbody>
                </table>
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
                    <div class="">La pluviométrie moyenne mensuelle est illustré par la figure ci-dessous : </div>
                    <select class="btn btn-success" id="selectCanvasType">
                        <option class="" value="bar" selected>Histogramme</option>
                        <option class="" value="line">Ligne</option>
                        <option class="" value="doughnut">Cercle</option>
                    </select>
                </div>
                <div class="m-auto col-8 canvas" id="canvasPMM"></div>
            </p>
        </section>
        <section id="pluvioMoyenneInterannuelle">
            <h3 class="h5">2. Calcul de la pluviométrie interannuelle</h3>
            <p>
                La pluviométrie moyenne interannuelle est la moyenne arithmétique des pluies annuelles de N années d’observation 
                et est donnée par la formule suivante :
                <div class="text-center">
                    <img src="assets/img/formule/PMinterannuelle.png" alt="Pluviométrie moyenne interannuelle" width="150">
                </div>
                <div class="small d-flex justify-content-center">
                    <ul class="text-left">
                        <li><img src="assets/img/symbole/PBar.png" alt="𝑃" height="20"> est la pluviométrie moyenne interannuelle en [mm] ;</li>
                        <li>𝑃𝑎 est la pluviométrie annuelle de l’année ou 𝑎 représente l’année en question ;</li>
                        <li>𝑁 est le nombre d’année d’observation.</li>
                    </ul>
                </div>
                <div>
                    Ainsi, après application numérique, on obtient une pluviométrie moyenne interannuelle 
                    <span class="" id="pmInterannuelle"><img src="assets/img/symbole/PBar.png" alt="𝑃" height="20"> = </span> 
                </div>
            </p>
        </section>
        <section id="repartitionMoyenneHauteurPluie">
            <h3 class="h5">3. Calcul de la répartition moyenne mensuelle des hauteurs des pluies Pm%</h3>
            <p>
                La répartition moyenne mensuelle des hauteurs des pluies est donnée par le quotient de la pluviométrie moyenne mensuelle
                sur la pluviométrie moyenne interannuelle multiplié par cent. 
                <div class="canvasHauteurPluie">
                    On appliquant la formule Pm% = (<img src="assets/img/symbole/PMBar.png" alt="𝑃𝑚" height="20" width="20"> /  <img src="assets/img/symbole/PBar.png" alt="𝑃" height="20">) * 100, 
                    on obtient la graphique suivante :  
                </div>
            </p>
        </section>
    </div>
    
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{asset('assets/hydrology/hydrology.js')}}"></script>
{% endblock %}
