body {
    background-image: url('/assets/img/background/atelierLuban.jpg'); background-size: cover;
}
#error_login {
    background-color: rgba(219, 23, 23, 0.592);
}
#form-box {
    background-color: rgba(45, 48, 78, 0.7);
}
input[type="email"], input[type="password"] {
    background: none;
    color: white;
    border-color: rgba(222, 249, 212, 0.592);
}
input[type="email"]:focus , input[type="password"]:focus {
    background: none;
    color: white;
    border: none;
}
button[type="submit"] {
    background-color: rgba(43, 87, 175, 0.8);
    color: white;
}
button[type="submit"]:hover {
    background-color: rgba(43, 150, 175, 0.8);
    color: white;
}